<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.Support.XA.Foundation.VersionSpecific.Pipelines.HttpRequest.SecurityCheck, Sitecore.Support.11325" resolve="true" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>